{
  "repositoryUrl": "https://github.com/peapaa/test-it.git",
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    [
      "@semantic-release/github",
      {
        "labels": [
          "semantic-release"
        ]
      }
    ]
  ]
}
